JITDemo/obj
.idea/.idea.ZealITBootcamp
.idea
GCDemo/obj
GCDemo/bin/Debug
Week2/GCDemo/bin
Week2/GCDemo/obj
Week2/JITDemo/obj
WebApplication1/obj
Week2/JITDemo/bin
Week2/WebApplication1/bin
Week2/WebApplication1/obj
Week3/MetricsDemo/bin
Week3/MetricsDemo/obj
