JITDemo/obj
.idea/.idea.ZealITBootcamp
.idea
[Bb]in/
[Oo]bj/
*.DS_Store
*/.DS_Store
*/*/.DS_Store
GCDemo/obj
GCDemo/bin/Debug
Week2/GCDemo/bin
Week2/GCDemo/obj
Week2/JITDemo/obj
WebApplication1/obj
Week2/JITDemo/bin
Week2/WebApplication1/bin
Week2/WebApplication1/obj
Week3/MetricsDemo/bin
Week3/MetricsDemo/obj
Week3/BenchmarkDemo/BenchmarkDotNet.Artifacts
Week3/MetricsDemo/logs
Week3/WebApplication1/logs
*.user
Week6/ConsoleApp1/BenchmarkDotNet.Artifacts
*.nettrace
Week6/WebApplication1/WebApplication1_20250227_135709.speedscope.json
